node_modules/
tests/coverage/

.*~
#*#

tests/tests.test


# generated for use in tests. Some of the code is modified during generation to
# support testing.
tests/echidna/ReserveDollar.sol
tests/echidna/ReserveDollarEternalStorage.sol
tests/echidna/zeppelin

